header ul li{	
	list-style: none;
	float: right;
	display: inline-block;
	padding: 15px;
	font-weight: bold;
	font-size: 24px;
}

 a{
	text-decoration:none;
	color: black;
}
ul li a:hover{
	text-decoration: underline;
	color:red;
}
header {
	
	height: 80px;
}
header img{
	width: 100px;
	height: 100px;
	float:left;
	position: relative;
	top:-13px;
	left: -35px;
}
footer {
    font-family: Montserrat,sans-serif;
    font-weight: 300;
    box-shadow: 0 0 7px rgba(0,0,0,.3);
    font-size: 11px;
    padding: 20px;
    color: #404041;
    background: #fff;
	word-spacing: 4px;
}
.first_part {
	text-align: center;
}

.first_part h1{
	color:  #990000;
}
.first_part h3{
	color: #3A2613;
}
#button{
	font-weight: bold;
	color: red;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display:inline-block;
	font-size:16px;
	margin: 150px;
	border-top: 2px solid black;
	border-bottom: 1px solid black;
	-webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
#button:hover {
  background-color: #FA8072;
  color: red;

}

.second_part {
	text-align: center;
}

 h1{
	color:  #990000;
}
.second_part h4{
	color: #3A2613;
	font-size: 20px;
}